<!DOCTYPE html>
<html lang="ko">
<head>
<% include ../partial/head.ejs %>
</script>
</head>
<body>
  <div class="main mobile">
    <div class="header">
      <% include ../partial/title-image.ejs %>
      <% include ../partial/navbar.ejs %>
      <div class="nav-banner">
        <a href="http://pf.kakao.com/_buwUd">카톡 친구 추가하여 키워드 받기</a>
      </div>
    </div>
    <div class="keyword">
      <div class="keyword-body">
        <div>
          <h4 class="keyword-heading"><a href="/user/topics/<%- topicEncoded %>"># <%- topic.name %></a></h4>
        </div>
        <div class="keyword-content">
          <a href="/user/topics/<%- topicEncoded %>">  <%- topic.description %> </a>
        </div>
        <div class="anchor-icon">
          <img src="/images/anchor-icon.png" alt="">
        </div>
      </div>
      <div class="upload-button">
        <a href="/user/posting/<%- topicEncoded %>">
          <img src="/images/pipette.svg" alt="업로드버튼">
          <div class="upload-msg">
           추출하기
          </div>
        </a>
      </div>
    </div>
    <div class="footer" id="main-fot" style="background-color: #353840 !important;">
      <% include ../partial/footer.ejs %>
    </div>

  </div>

</body>
</html>
